body,h1 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
}
.bgimg {
    background-image: url('/images/bg.jpg');
    min-height: 100%;
}

.w3-myfont {
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}

.statements {
    /*width: 400px;*/
    font-size: 15px;
    padding: 5px;
}



html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {padding: 16px}